body{
    max-width:1000px;
    margin:auto;
    padding:40px;
    font-family:Arial, sans-serif;
    line-height:1.7;
    color:#333;
}

nav{
    margin-bottom:40px;
}

nav a{
    text-decoration:none;
    color:#1f4e79;
    font-weight:bold;
    margin-right:15px;
}

nav a:hover{
    color:#4a90e2;
}

h1{
    font-size:48px;
}

h2{
    color:#1f4e79;
}

img{
    max-width:100%;
}
